<%= form_with(model: teacher, class: "contents") do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :image, class: "block font-medium mb-1" %>
    <div id="image-preview" class="mt-2"></div>
    <%= form.file_field :image, accept: "image/*", onchange: "previewImage(this);", class: "block outline-none" %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :designation_id, "Designation" %>
    <%= form.collection_select :designation_id, Designation.all, :id, :name, { prompt: "Select Designation" }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :experience %>
    <%= form.text_field :experience, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :area_of_expertise %>
    <%= form.text_field :area_of_expertise, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :department_id, "Department" %>
    <%= form.collection_select :department_id, Department.all, :id, :name, { prompt: "Select Department" }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>
  function previewImage(input) {
    var preview = document.getElementById('image-preview');
    preview.innerHTML = '';

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        var img = document.createElement('img');
        img.src = e.target.result;
        img.classList.add('rounded-full', 'h-20', 'w-20', 'object-cover');
        preview.appendChild(img);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
