<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>
<body>
  <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
  <label for="page-nav-toggle">
    <svg class="icon--menu-toggle" viewBox="0 0 60 30">
      <g class="icon-group">
        <g class="icon--menu">
          <path d="M 6 0 L 54 0" />
          <path d="M 6 15 L 54 15" />
          <path d="M 6 30 L 54 30" />
        </g>
        <g class="icon--close">
          <path d="M 15 0 L 45 30" />
          <path d="M 15 30 L 45 0" />
        </g>
      </g>
    </svg>
  </label>
  
  <nav class="main-navigation">
    <ul>
      <li><%=link_to "Home", root_path%></li>
      <li><%=link_to "About", pages_about_path%></li>
      <li><%=link_to "Events", events_summary_path%></li>
        <li><%=link_to "TimeTables", weekly_timetable_path%></li>
      <li><%=link_to "Gallery", galleries_summary_path%></li>
      <li><%=link_to "Notice", notices_summary_path%></li>
      <li><%=link_to "Contact ", pages_map_path %></li>
    </ul>
  </nav>
  

</body>
</html>


<style>



@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
:root {
  --color-primary: #002B5B;
  --color-bar: #FFD23F;
  --color-secondary: #F0F7EE;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: "Helvetica", sans-serif;
  --font-heading: "Merriweather", serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
}


body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  margin-bottom: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  
}
.main-navigation-toggle + label {
  position: fixed;
  top: calc(var(--space) * 1.5);
  right: calc(var(--space) * 2);
  cursor: pointer;
  z-index: 101;
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-bar);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
}


.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 100; /* Add this line */
}

.main-navigation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #330000; /* Added background color */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231047DD'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  transform-origin: 0 50%;
  z-index: -1;
}

.main-navigation ul {
  font-size: 10vmin;
  font-family: var(--font-heading);
  width: 100%;
}
.main-navigation li {
  --border-size: 1vmin;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.main-navigation li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--border-size);
  background-color: var(--color-secondary);
  transform-origin: 0 50%;
  transform: translateX(-100%) skew(15deg);
}
.main-navigation a {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-secondary);
  line-height: 1;
  text-decoration: none;
  user-select: none;
  padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
  transform: translateY(100%);
}

.main-content {
  margin: 6rem auto;
  max-width: 70ch;
  padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);
}
.main-content > * + * {
  margin-top: calc(var(--space) * var(--line-height));
}

.main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
  transform: translateX(100%);
}
.main-navigation-toggle:checked ~ .main-content {
  transform: translateX(10%);
}
.main-navigation-toggle:checked ~ .main-navigation {
  transition-duration: 0s;
  transform: translateX(0);
}
.main-navigation-toggle:checked ~ .main-navigation:after {
  animation: nav-bg var(--nav-duration) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation li:after {
  animation: nav-line var(--duration) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation a {
  animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
  animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
  animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
  animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
  animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-15deg);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}
@keyframes link-appear {
  0%, 25% {
    transform: translateY(100%);
  }
  50%, 100% {
    transform: translateY(0);
  }
}
</style>